<!DOCTYPE html>
{% load staticfiles %}
{% load leaflet_tags %}
<html>

    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <title>Trip Done Right</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        {% leaflet_map "main" callback="main_map_init" %}
        <script src="static/map.js"></script>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/about/">About</a><br />
        <img src="{% static "images/world-map.gif" %}" alt="world map" /> <!-- New line -->
    </body>
</html>