<!DOCTYPE html>
{% load staticfiles %}
{% load leaflet_tags %}
<html>

    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <title>Trip Done Right</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        {% leaflet_map "main" callback="main_map_init" %}
        <script type="text/javascript">

        function onEachFeature(feature, layer) {
            // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }



        function main_map_init (map, options) {
            var geojsonFeature = {
            "type": "Feature",
            "properties": {
                "name": "Coors Field",
                "amenity": "Baseball Stadium",
                "popupContent": "This is where the Rockies play!"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [-104.99404, 39.75621]
            }
        };
            var geojsonFeature2 = {
            "type": "Feature",
            "properties": {
                "name": "UPenn",
                "amenity": "University",
                "popupContent": "This is where you learn"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [-75.193214,39.952219]
            }
        };
            var myLines = [{
                "type": "LineString",
                "coordinates": [[-104.99404, 39.75621], [-75.193214,39.952219]]
            }];

            var myStyle = {
                "color": "#ff7800",
                "weight": 5,
                "opacity": 0.65
            };
            L.geoJson(geojsonFeature, {onEachFeature: onEachFeature}).addTo(map);
            L.geoJson(geojsonFeature2, {onEachFeature: onEachFeature}).addTo(map);
            L.geoJson(myLines, {style: myStyle}).addTo(map);
        }
        </script>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/about/">About</a><br />
        <img src="{% static "images/world-map.gif" %}" alt="world map" /> <!-- New line -->
    </body>
</html>